In [1]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [2]:
import multiprocessing
import pyspark

nprocs = multiprocessing.cpu_count()

spark = (pyspark.sql.SparkSession.builder
 .master('local')
 .config('spark.jars.packages', 'mysql:mysql-connector-java:8.0.16')
 .config('spark.driver.memory', '4G')
 .config('spark.driver.cores', nprocs)
 .config('spark.sql.shuffle.partitions', nprocs)
 .appName('MySparkApplication')
 .getOrCreate())

In [3]:
import pyspark.sql.functions as F

In [6]:
# Spark API Mini Exercises

# Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

# ```python
import pandas as pd
import numpy as np

np.random.seed(13)

pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

In [7]:
pandas_dataframe.head()

          n group  abool
0 -0.712391     z  False
1  0.753766     x  False
2 -0.044503     z  False
3  0.451812     y  False
4  1.345102     z  False

In [8]:
pandas_dataframe.shape

(20, 3)

In [11]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [13]:
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [15]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [19]:
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

In [23]:
df.select(df.n, df.abool).show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [24]:
df.select(df.group, df.abool).show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [25]:
df.select(df.group).show(5)

+-----+
|group|
+-----+
|    z|
|    x|
|    z|
|    y|
|    z|
+-----+
only showing top 5 rows

In [26]:
df.select(df.abool.alias("a_boolean_value")).show(3)

+---------------+
|a_boolean_value|
+---------------+
|          false|
|          false|
|          false|
+---------------+
only showing top 3 rows

In [28]:
df.select(df.group, df.n.alias("a_numeric_value")).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

In [45]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

In [46]:
from pyspark.sql.functions import col, expr

In [47]:
plus4_column = (col("n") + 4)

In [48]:
multiply2_column = (col("n") * 2)

In [52]:
df.select(
    df.n.alias("n"),
    df.group.alias("group"),
    df.abool.alias("abool"),
    plus4_column.alias("n+4"),
    multiply2_column.alias("n*2"),
).show(5)

+--------------------+-----+-----+------------------+--------------------+
|                   n|group|abool|               n+4|                 n*2|
+--------------------+-----+-----+------------------+--------------------+
|  -0.712390662050588|    z|false|3.2876093379494122|  -1.424781324101176|
|   0.753766378659703|    x|false| 4.753766378659703|   1.507532757319406|
|-0.04450307833805...|    z|false|3.9554969216619464|-0.08900615667610691|
| 0.45181233874578974|    y|false|  4.45181233874579|  0.9036246774915795|
|  1.3451017084510097|    z|false|5.3451017084510095|  2.6902034169020195|
+--------------------+-----+-----+------------------+--------------------+
only showing top 5 rows

In [56]:
from pyspark.sql.functions import sqrt

In [62]:
n2_column = (pow(col("n"), 2).alias("n^2"))

In [63]:
n3_column = (pow(col("n"), 3).alias("n^3"))

In [64]:
df.select(
    df.n.alias("n"),
    df.group.alias("group"),
    df.abool.alias("abool"),
    plus4_column.alias("n+4"),
    multiply2_column.alias("n*2"),
    n2_column.alias("n^2"),
    n3_column.alias("n^3")
).show(5)

+--------------------+-----+-----+------------------+--------------------+--------------------+--------------------+
|                   n|group|abool|               n+4|                 n*2|                 n^2|                 n^3|
+--------------------+-----+-----+------------------+--------------------+--------------------+--------------------+
|  -0.712390662050588|    z|false|3.2876093379494122|  -1.424781324101176|   0.507500455376875| -0.3615385853969069|
|   0.753766378659703|    x|false| 4.753766378659703|   1.507532757319406|  0.5681637535977627|  0.4282627350350894|
|-0.04450307833805...|    z|false|3.9554969216619464|-0.08900615667610691|0.001980523981562...|-8.81394139018882...|
| 0.45181233874578974|    y|false|  4.45181233874579|  0.9036246774915795| 0.20413438944294027|  0.0922304359126587|
|  1.3451017084510097|    z|false|5.3451017084510095|  2.6902034169020195|  1.8092986060778251|   2.433690646133313|
+--------------------+-----+-----+------------------+--------------------+--------------------+--------------------+
only showing top 5 rows